.SearchBar 
    text-align: center

#List 
    color: #333
    font-size: 14px
    border: 1px solid #E0E0E0
    max-width: 260px
    margin: 0 auto
    border-radius: 5px

.selected 
    background-color: rgb(0,188,212)
    font-weight: bold

.suggestions 
    text-align: left
    display: block
    margin: 0 auto
    padding: 8px
    max-width: 250px
    max-height: 500px

.suggestions:hover 
    cursor: pointer

.hover 
    font-weight: bold
